In [2]:
R = int(input("Enter the number of rows: "))
C = int(input("Enter the number of columns: "))

list1 = [int(x) for x in input().split()]
print("List in 1D: ", list1)

a = []

for i in range(R):
  a.append([])
  for j in range(C):
    a[i].append(list1[C*i+j])

print("List in 2D", a)

Enter the number of rows: 2
Enter the number of columns: 2
1 2 3 4
List in 1D:  [1, 2, 3, 4]
List in 2D [[1, 2], [3, 4]]